<div
  class="overflow-hidden rounded bg-white shadow-md max-w-80 transition duration-150 ease-out hover:ease-in"
>
  <div class="bg-stone-500 text-stone-100 text-center py-2">Contact info</div>
  <ul class="px-6 py-4">
    <li
      class="py-2 text-stone-500 hover:text-stone-800 transition duration-150 ease-out hover:ease-in"
    >
      <i class="fa-solid fa-envelopes-bulk mr-2"></i> <%= email %>
    </li>
    <li
      class="py-2 border-t text-stone-500 hover:text-stone-800 transition duration-150 ease-out hover:ease-in"
    >
      <i class="fa-solid fa-landmark mr-2"></i> <%= company %>
    </li>
    <li
      class="py-2 border-t text-stone-500 hover:text-stone-800 transition duration-150 ease-out hover:ease-in"
    >
      <i class="fa-solid fa-mountain-city mr-2"></i> <%= location %>
    </li>
  </ul>
</div>
