<div data-loading-class="hidden" class="text-center">
  <span
    class="text-transparent bg-gradient-to-r from-violet-500 to-violet-700 bg-clip-text text-9xl flex items-center justify-center"
  >
    <i class="fa-solid fa-magnifying-glass text-6xl"></i>
    <i class="fa-solid fa-user-astronaut"></i>
  </span>
  <h2 class="text-stone-700 font-bold text-4xl mt-4">Explore Github Users</h2>
  <p class="text-stone-500">
    Don be shy, type a friend, colleague or your name, and let's explore!
  </p>
</div>
