<div data-loading-class="hidden" class="text-center">
  <span class="text-9xl text-stone-500">
    <i class="fa-solid fa-file-circle-xmark"></i>
  </span>
  <h2 class="text-stone-700 font-bold text-4xl mt-4">Huh, nothing here?</h2>
  <p class="text-stone-500">
    Looks like we wasn't able to find anything similar, please try again
  </p>
</div>
